@media(max-width:1244px){
    body{
        width: 1243px;
    }

    .header{
        width: 100%;
    }

    .menu,
    .nav-bar{
        width: 100%;
    }

    .canvas-link{
        width: 1244px;
    }

    .start-container{
        width: 556px;
    }

    .start-title{
        width: 558px;
        left: 0;

    }

    .middle-upper-container{
        transform: translate3d(563px,-509px,0px);
        width: 394px;
    }

    .middle-upper-title{
        
        width: 394px;
    }    

    .middle-lower-container-1{
        transform: translate3d(563px,-209px,0px);
    }


    .middle-lower-container-2{
        transform: translate3d(561px,-17px,0px);
    }
    
    .middle-lower-container-3{
        transform: translate3d(663px,-17px,0px);
    }
    
    .middle-lower-container-4{
        transform: translate3d(688px,-211px,0px);
    }
    
    .middle-lower-container-5{
        transform: translate3d(688px,-165px,0px);
    }
    
    .middle-lower-container-6{
        transform: translate3d(744px,-165px,0px);
    }
    
    .middle-lower-container-7{
        transform: translate3d(688px,-93px,0px);
    }
    
    .middle-lower-container-8{
        transform: translate3d(730px,-93px,0px);
    }
    
    .middle-lower-container-9{
        transform: translate3d(750px,-92px,0px);

    }
    
    .middle-lower-container-10{
        transform: translate3d(752px,-63px,0px);
    }
    
    .middle-lower-container-11{
        transform: translate3d(687px,-54px,0px);
    }
    
    .middle-lower-container-12{
        transform: translate3d(688px,-29px,0px);
    }
    
    .middle-lower-container-13{
        transform: translate3d(743px,-43px,0px);
    }
    
    .middle-lower-container-14{
        transform: translate3d(786px,-210px,0px);
    }
    
    .middle-lower-container-15{
        transform: translate3d(874px,-205px,0px);
    }
    
    .middle-lower-container-16{
        transform: translate3d(874px,-153px,0px);
    }
    
    .middle-lower-container-17{
        transform: translate3d(787px,-91px,0px);
    }
    
    .middle-lower-container-18{
        transform: translate3d(854px,-90px,0px);
    }
    
    .middle-lower-container-19{
        transform: translate3d(931px,-111px,0px)
    }
    
    .middle-lower-container-20{
        transform: translate3d(854px,-53px,0px);
    }
    
    .middle-lower-container-21{
        transform: translate3d(887px,-53px,0px);
    }
    
    
    .end-upper-container-1{
        transform: translate3d(962px,-509px,0px);
    }
    
    .end-upper-container-2{
        transform: translate3d(1102px,-509px,0px);
        width: 43px;
    }
    
    .end-upper-container-3{
        transform: translate3d(1144px,-509px,0px);
        width: 37px;
    }
    
    .end-upper-container-4{
        transform: translate3d(1181px,-509px,0px);
    }
    
    .end-upper-container-5{
        transform: translate3d(1204px,-509px,0px);

    }
    
    .end-upper-container-6{
        transform: translate3d(1203px,-472px,0px);
    }
    
    .end-upper-container-7{
        transform: translate3d(1103px,-446px,0px);
    }
    
    .end-upper-container-8{
        transform: translate3d(1142px,-446px,0px)
    }
    
    .end-upper-container-9{
        transform: translate3d(1179px,-445px,0px);
    }
    
    .end-upper-container-10{
        transform: translate3d(1179px,-420px,0px);
    }
    
    .end-upper-container-11{
        transform: translate3d(963px,-370px,0px);
    }
    
    .end-upper-container-12{
        transform: translate3d(1032px,-369px,0px);
    }
    
    .end-upper-container-13{
        transform: translate3d(1032px,-326px,0px);
    }


    .end-lower-container-1{
        transform: translate3d(964px,-255px,0px);
    }
    
    .end-lower-container-2{
        transform: translate3d(1098px,-255px,0px);
    }
    
    .end-lower-container-3{
        transform: translate3d(1125px,-256px,0px);
    }
    
    .end-lower-container-4{
        transform: translate3d(1148px,-255px,0px);
    }
    
    .end-lower-container-5{
        transform: translate3d(1094px,-33px,0px);
    }


    .middle-lower-title-1{
        width: 121px;
        left: 0;
    }

    .middle-lower-title-2{
        width: 94px;

    }
    .middle-lower-title-3{
        width: 85px;

    }
    .middle-lower-title-4{
        width: 83px;

    }
    .middle-lower-title-5{

    }

    .end-upper-title{
        width: 278px;
        left: 3%;
    }

    .end-lower-title-1{
        width: 128px;
        left: 2%;
    }
    
    .end-lower-title-2{
        width: 145px;
    }
    
    .end-lower-title-3{
        width: 127px;
        left: 4%;
    }

    .retract>div{
        margin: 0 2px !important;
        padding: 8px 6px !important;
    }
}

@media(max-width: 998px){
    .nav-bar{
        justify-content: space-between;
        height: 50px;
        align-items: center;
    }
    .nav-bar>div:first-child{
        /* margin-left: 10px; */
        align-items: center;
        justify-content: center;

    }
    .two-in-one{
        margin-left: 400px;
    }

    .nav-bar>div:last-child{
        justify-content: center;
        align-items: center;
        width: 6%;
    }
    .nav-bar>div:first-child .logo img{
        width: 150px;
    }

    .nav-bar>div:first-child .hamburger-menu img{
        width: 30px;
    }

    .nav-bar>div:first-child .hamburger-menu a{
        /* padding: 20px 5px 10px 5px; */
        padding: 25px 10px 10px 10px;
    }

    .nav-bar>div:first-child .hamburger-menu:hover a{
        background-color: #ffffff0d;
    }

    .plus-minus{
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        background-color: #2e2d2f;
    }
    .plus-minus a{
        padding: 9px 15px;
        
    }

    .plus-minus a i{
        font-size: 30px;
        color: #ffffff;
        font-weight: 600;
    }

    .share-map{
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        background-color: #373737;
        width: 125px;
    }

    .share-map a{
        font-size: 18px;
        font-weight: 100;
    }

    .share-map img{
        
    }

    .news-bar{
        height: 40px;
        justify-content: space-between;
    }
    .news-list{
        display: none;
    }

    .first-icon,
    .second-icon{
        display: none;
    }

    .start-container .zoom{
        display: none;
    }

    .menu{
        display: none;
    }

    .nav-bar-title{
        display: none;
    }
    
    .more-titles{
        display: none;
    }

    .nav-socials{
        display: none;
    }

    .filter{
        display: block;
    }
    
    .filter img{
    width: 30px;
    }

    
    .change-page{
        display: block;
        
    }
    
    .change-page img{
        width: 20px;

    }

    .hamburger-menu{
        display: block;

    }
    .hamburger-container{
        opacity: 0;
        visibility: hidden;
        display: flex;
        background-color: rgba(50,50,52,.99);
        height: 580px;
        width: 21%;
        position: absolute;
        top: 0;
        z-index: 10000;
        transition: all 0.3s;
        transform: translateX(-316px);
        flex-direction: column;
        overflow-y: scroll;
    }
    .draw-back{
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
    }
    
    .ham-cover{
        position: absolute;
        width: 1243px;
        height: 575px;
        top: 0;
        z-index: 1000;
        background-color: rgba(0,0,0,20%);
    }
    .block{
        display: block;
    }
    .filter-container{
        position: absolute;
        display: none;
        visibility: hidden;
        opacity: 0;
        top: 0;
        z-index: 100000;
        background-color: rgba(50,50,52,.99);
        transform: translateX(1243px);
        transition: all 0.3s;
        width: 0px;
        height: 1250px;
        flex-direction: column;
    }
    .draw-full{
        display: flex;
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
        width: 1243px;
    }
    .close-filter{
        margin: 0;
        height: 15px;
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 20px;
        color: #ffffff;
    }

    .ham-logo{
        display: flex;
        margin: 0;
        padding: 15px 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,17%);
    }

    .ham-logo img{
        width: 150px;
    }

    .ham-item{
        margin: 10px 0;
        height: 7%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        position: relative;
    }

    .ham-item:hover{
        background-color: #5c845633;

    }

    .ham-item:hover::before{
        background-color: #5c8456;

    }

    .ham-item::before{
        content: "";
        position: absolute;
        opacity: 0.9;
        left: 0;
        top: 0;
        width: 4px;
        height: 41px;
    }

    .ham-item a{
        margin: 0 0 0 25px;
        font-size: 20px;
        font-weight: 400;
        color: hsla(0,0%,100%,.4);
        white-space: nowrap;
        display: flex;
        height: 40px;
        align-items: center;
    }

    .ham-item a p{
        font-size: 13px;
        margin-left: 10px;
        color: black;
        padding: 3px;
        border-radius: 5px;
        font-weight: bold;
    }

    .yellow{
        background-color: #ff9800;
    }

    .light-green{
        background-color: #84c47c;
    }
    .color-green{
        color: #85be85 !important;
    }
    .color-red{
        color: #dd7875 !important;
    }

    .ham-social{
        display: flex;
        margin: 0;
        padding-left: 10px;
    }

    .ham-social>a{
        margin: 0;
        padding: 10px;
        background-color:#ffffff0d;
        margin-right: 8px;
        border-radius: 3px;
        color: #ffffff;
    }

    .ham-social a i{
        font-size: 17px;
    }

    .ham-copyright{
        padding-left: 10px;
        margin-top: 10px;
    }

    .ham-copyright span{
        color: #ffffff;
        font-size: 14px;
    }

    .ham-item .about i{
        font-size: 10px;
        margin-left: 10px;
    }

    .about-list{
        width: 100%;
        display: none;
        margin: 0;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .about-list a{
        margin: 0;
        font-size: 16px !important;
        width: 80%;
        font-size: 18px;
        font-weight: 400;
        color: hsla(0,0%,100%,.4);
        padding: 5px 0;
    }
    
    .filter-cap{
        display: flex;
        margin: 50px 25px 0px 25px;
        /* padding: 20px; */
        position: relative;
        background-color: hsla(2,61%,66%,.2);
        
    }
    
    .filter-cap div,
    .filter-vol div{
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .filter-cap div p,
    .filter-vol div p{
        margin: 0;
    }
   
    .filter-cap div>*,
    .filter-vol div>*{
        padding: 8px 22px;
        font-size: 20px;
        color: #ffffff;
    }

    .filter-cap::before{
        content: "";
        position: absolute;
        opacity: 0.9;
        left: 0;
        top: 0;
        width: 5px;
        height: 76px;
        background-color: #de7875;
    }

    .filter-vol{
        display: flex;
        margin: 15px 25px 0px 25px;
        /* padding: 20px; */
        position: relative;
        background-color: #5c845633;
    }
    
    .filter-vol::before{
        content: "";
        position: absolute;
        opacity: 0.9;
        left: 0;
        top: 0;
        width: 5px;
        height: 76px;
        background-color: #5c8456;
    }
    
    .filter-cap p:last-child{
        color: #dd7875;
    }
    
    .filter-vol p:last-child{
        color: #5c8456;
    }


    .filter-cap p:last-child,
    .filter-vol p:last-child{
        position: absolute;
        top: 12px;
        right: 10px;
        font-size: 18px;
    }

    .filter-items{
        padding: 50px 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }

    .reset-all{
        margin: 0;
        position: absolute;
        top: 15px;
        right: 25px;

    }

    .reset-all a{
        margin: 0;
        font-size: 18px;
    }

    .filter-items label{
        margin: 0;
        margin-left: 27px;
        font-size: 19px;
        color: #ffffff;
        margin-bottom: 7px;
    }

    .select{
        margin: 0 auto;
        width: 96%;
        height: 30px;
        outline: none;
        border: none;
        background-color: rgba(0,0,0,5%);
        border-bottom: 1px solid rgba(255,255,255,17%);
        color: #ffffffb2;
        font-size: 19px;
        position: relative;
    }

    .select .options{
        position: absolute;
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        top: 32px;
        background-color: rgba(0,0,0,70%);
        z-index: 100;
        overflow-y: scroll;
        height: 100px;
    }

    .options>*{
        margin: 0;
        padding: 5px 10px;
    }

    .select>*{
        margin: 0 !important;
    }

    .on-show{
        display: flex;
        justify-content: space-between;
    }

    .on-show i{
        font-size: 15px;
    }

    .on-show>*{
        margin: 0 !important;
    }
    
    .filter-item{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 25px 0;
    }

    .half-select{
        border: 1px solid rgba(255,255,255,25%);
        display: flex;
        margin: 0 auto;
        width: 96%;
        
    }
    .half-select div{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    .half-select div:first-child{
        border-right: 1px solid rgba(255,255,255,25%);
        background-color: #ffffff2b;

    }
    .half-select div:first-child p{
        color: #ffffff;
    }
   
    .half-select div p{
        font-size: 19px;
    }
   
    .filter-range{
        margin: 0 auto;
        width: 96%;
    }
        
    .filter-range .range-result{
        background-color: transparent;
    }

    .filter-range .range-result p,
    .filter-range .range-result span,
    .filter-range .range-result button{
        font-size: 19px;
    }

    .slider-line .filter-range-left::-webkit-slider-thumb{
        -webkit-appearance: none;
        background: #84C47C;
        /* position: absolute; */
        /* top: 0px;
        left: 0; */
        width: 10px;
        height: 10px;
        z-index: 10;
        border-radius: 25px;

    }

    .slider-line .filter-range-right::-webkit-slider-thumb{
        /* position: fixed; */
        /* top: 0px;
        right: 0; */
        z-index: 10;
        -webkit-appearance: none;
        background: #84C47C;
        width: 10px;
        height: 10px;
        border-radius: 25px;
        /* margin-bottom: 10px; */
    }

    .slider-line .filter-range-left::-webkit-slider-thumb:active{
        outline: 5px solid #96DBFA;
        z-index: 10;

    }

    .slider-line .filter-range-right::-webkit-slider-thumb:active{
        outline: 5px solid #96DBFA;
        z-index: 10;


    }

    .filter-dot-1{
        position: absolute;
        padding: 2px;
        background-color: #E9E9E9;
        border-radius: 25px;
        top: -0.5px;
        left: 0px;
    }

    .filter-dot-2{
        background-color: #84C47C;
        position: absolute;
        padding: 2px;
        border-radius: 25px;
        top: -0.5px;
        left: 16%;
    }

    .filter-dot-3{
        background-color: #84C47C;
        position: absolute;
        padding: 2px;
        border-radius: 25px;
        top: -0.5px;
        left: 33%;
    }

    .filter-dot-4{
        background-color: #84C47C;
        position: absolute;
        padding: 2px;
        border-radius: 25px;
        top: -0.5px;
        left: 54%;
    }

    .filter-dot-5{
        background-color: #84C47C;
        position: absolute;
        padding: 2px;
        border-radius: 25px;
        top: -0.5px;
        left: 75%;

    }

    .filter-dot-6{
        position: absolute;
        padding: 2px;
        border-radius: 25px;
        top: -0.5px;
        background-color: #E9E9E9;
        left: 100%;
    }


    .filter-price-1{
        position: absolute;
        color: #5B5B5B;
        font-size: 14px;
        top: -20px;
        left: 0%;
    }

    .filter-price-2{
        position: absolute;
        color: #5B5B5B;
        font-size: 14px;
        top: -20px;
        left: 15%;
    }

    .filter-price-3{
        position: absolute;
        color: #5B5B5B;
        font-size: 14px;
        top: -20px;
        left: 32%;
    }

    .filter-price-4{
        position: absolute;
        color: #5B5B5B;
        font-size: 14px;
        top: -20px;
        left: 53%;
    }

    .filter-price-5{
        position: absolute;
        color: #5B5B5B;
        font-size: 14px;
        top:-20px;
        left: 74%;
    }

    .filter-price-6{
        position: absolute;
        color: #5B5B5B;
        font-size: 14px;
        top: -20px;
        left: 98%;
    }

    .filter-token{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .filter-token>*{
        margin: 0;
    }


    .filter-token div{
        display: flex;
    }

    .filter-token div img{
        width: 22px;
    }

    .filter-token div p{
        margin-left: 12px;
        font-size: 20px;
    }

    .filter-token span{
        opacity: 0.3;
        font-size: 20px;
    }

    


}